{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="container-fluid">
            <h1>Who are we?</h1>

            <p style="text-align:justify">
                Pastel De Luna is an 831 year old mooncake confectionery business located in the heart of Chinatown. For the
                past few years, we have seen the impact of COVID-19, which caused physical fairs and our customers to decrease
                tremendously during the festive season. This affects our businesses&#39; profitability and revenue. Furthermore,
                physical festive fairs are only held once a year, which makes it difficult to reach out to those who crave our
                mooncakes after the festival. Hence, to ensure our business sustainability, Pastel De Luna has decided to jump on
                the digital bandwagon and market our mooncakes online with the aim of bringing the mooncake festive season
                to life all year long x24/7! Anywhere, Anytime!
            </p>

            <h2>What do we do?</h2>

            <p style="text-align:justify">
                Establishing a secure and reliable online shopping experience is our primary focus at Pastel De Luna. At Pastel De
                Luna, we ensure sensitive information such as payment transactions, customers’ addresses, and health
                declarations is protected and secured on our website so as to maintain our customer satisfaction and loyalty.
            </p>
            </div>
</div>
{% endblock %}