{% extends 'base.html' %}



{% block content %}
<style>
td.orange {
   background-Color: #ffd7b5;
}

td.red {
   background-color:#FFCCCB;
}

td.green {
    background-color:#90EE90;
}
</style>
  <div class="container-fluid pt-5">

        <div class="row px-xl-5">
    <h3>Welcome, admin</h3>
        {% include 'messages.html' %}
        <table class="table table-bordered text-center mb-0">
            <thead class="bg-secondary text-dark">
            <tr>
                <th>Request ID</th>
                <th></th>
                <th>Product Name</th>
                <th>Product Description</th>
                <th>Unit Price</th>
                <th>Stock Available</th>
                <th>Category Name</th>
                <th>Request Status</th>
                <th>Editor Name</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody class="align-middle">
            {% for u in object %}
                <tr>
                    <td class="align-middle">{{u.id}}</td>
                    <td class="align-middle"><img width=70px; height=70px; src="{{u.product_id.image.url}}" alt="image cap" ></td>
                    <td class="align-middle"><img src="img/product-1.jpg" alt="" style="width: 50px;">{{u.product_id.name}}</td>
                    <td class="align-middle">{{u.product_id.description}}</td>
                    <td class="align-middle">{{u.product_id.unit_price}}</td>
                    <td class="align-middle">{{u.product_id.stock_available}}</td>
                    <td class="align-middle">{{u.product_id.category_id.category_name}}</td>
                    <td  class="{% if u.status == 'pending' %}orange
                                {% elif u.status == 'reject' %}red
                                {% elif u.status == 'approve' %}green{% endif %} align-middle"> {{ u.status }}</td>
                    <td class="align-middle">{{u.user_id.first_name}}</td>
                    {% if u.status == 'pending' %}
                        <form action="{% url 'admin_dashboard' %}" method="post">
                            {% csrf_token %}
                            <td class="align-middle"><button class="btn btn-sm btn btn-success" name="{{u.id}}" value="approve">Approve</button></td>
                            <td class="align-middle"><button class="btn btn-sm btn btn-danger" name="{{u.id}}" value="reject">Reject</button></td>
                        </form>
                    {% else %}
                    <td class="align-middle"></td>
                    <td class="align-middle"></td>
                    {% endif %}
                </tr>
            {% endfor %}

            </tbody>
        </table>
    <!-- Cart End -->
        </div>
  </div>
{% endblock %}