{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- Page Header Start -->

<div class="container-fluid mb-5" style="background-image: url('/static/img/MCL.png');">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3 text-primary">2- <span style="color:black">FA</span></h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">2FA</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- detail Start -->
{% include 'messages.html' %}
<div class="container mt-3">
        <div class="row">
            <div class="col-md-6 ">
                <div class="card">
                    <div class="card-body shadow checkoutform">
                        <h6 style="font-weight: bold;">2FA Authentication</h6>
                        <hr>
                        <form action="{% url 'checktoken' %}" method="POST" name="form" >
                        {% csrf_token %}
                        <div class="col-md-9 mt-4">
                            <label style="color:#5C4033;font-size: 14px !important; font-weight: 600;">TOKEN: </label>
                            <input class="form-control" name="token" type="token" rows="2" cols="55"  maxlength="6" minlength="6" pattern="[0-9]{6}" onkeypress="return /[0-9]/i.test(event.key)" placeholder="Enter Token from Microsoft Authenticator" required>

                        </div>
                        <button class="btn btn-secondary  border-0 py-lg-10" type="submit" name="submit" style="float: left; width:30%; margin-left: 15px; margin-top: 15px;">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br>
   
</div>

<!-- checkout End -->
{% endblock %}


