{% extends 'editor_base.html' %} {% block content %}
<style>
  #request_table {
    margin-top: 1.5em;
  }

  #container {
    margin: 2em 2em 2em 2em;
  }
</style>
<div id="container">
  <div class="d-flex px-xl-5 justify-content-between">
    <h3>Welcome, Editor {{products.user_id.first_name}}</h3>
    <button class="btn-outline-primary btn" data-toggle="modal" data-target="#addModal">
      New Request
    </button>
  </div>
  {% include 'messages.html' %}
  <div class="row px-xl-5">
    <div class="col-lg-12 table-responsive" id="request_table">
      <table class="table table-bordered text-center mb-0">
        <thead class="bg-secondary text-dark">
          <tr>
            <th>Created</th>
            <th>Updated</th>
            <th>Image</th>
            <th>Product Name</th>
            <th>Product Description</th>
            <th>Unit Price</th>
            <th>Stock Available</th>
            <th>Category Name</th>
            <th>Request Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="align-middle">
          {% for obj in products %}
          <tr>
            <td class="align-middle">{{obj.created}}</td>
            <td class="align-middle">{{obj.updated}}</td>
            <td class="align-middle"><img src="{{obj.product_id.image.url}}" alt="" style="width: 50px" /></td>
            <td class="align-middle">{{obj.product_id.name}}</td>
            <td class="align-middle">{{obj.product_id.description}}</td>
            <td class="align-middle">{{obj.product_id.unit_price}}</td>
            <td class="align-middle">{{obj.product_id.stock_available}}</td>
            <td class="align-middle">
              {{obj.product_id.category_id.category_name}}
            </td>
            {% if obj.status == 'pending' %}
            <td class="align-middle">
              <p class="text-warning">Pending</p>
            </td>
            {% elif obj.status == 'approve' %}
            <td class="align-middle">
              <p class="text-success">Approved</p>
            </td>
            {% else %}
            <td class="align-middle">
              <p class="text-danger">Rejected</p>
            </td>
            {% endif %}
            <td class="align-middle">
              <button class="btn-outline-primary form-control" type="button" name="add_to_cart" value="product_add"
                data-toggle="modal" data-target="#editModal">
                Edit
                <input hidden type="text" name='id' value='{{product.id}}'>
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Update Request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" enctype="multipart/form-data">
        <div class="modal-body">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="modal-body">
            <div class="form-row">
              <div class="form-group col-sm-10">
                <label class="form-label" for="customFile"><b>Product Image (only in JPG format)</b></label>
                <input type="file" class="form-control" id="customFile" accept=".jpg" name="image_upload"
                  placeholder="Select 1 image only" required />
              </div>
              <div class="form-group col-sm-10">
                <label class="form-label" for="customFile"><b>Product Image Name</b></label>
                <input type="text" class="form-control" id="customFile" name="imagename"
                  placeholder="Name-Of-Mooncake" />
              </div>
            </div>
            <div class="form-group">
              <label><b>Product Name</b></label>
              <input class="form-control" type="text" name="productname" placeholder="Product Name">
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1"><b>Product Description</b></label>
              <textarea class="form-control" id="descriptionText" rows="3" name="productdesc"
                placeholder="Product Description"></textarea>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1"><b>Ingredients</b></label>
              <textarea class="form-control" id="ingredientsText" rows="3" name="productdesc"
                placeholder="Product Description"></textarea>
            </div>
            <div class="row">
              <div class="col">
                <label><b>Unit Price ($SGD)</b></label>
                <input type="text" class="form-control" name="unitprice" placeholder="Price">
              </div>
              <div class="col">
                <label><b>Stocks Available</b></label>
                <input type="text" class="form-control" name="stocks" placeholder="Stocks">
              </div>
              <div class="form-group col">
                <label for="inputState"><b>Product Category</b></label>
                <select id="inputState" class="form-control"
                  onchange="showfield(this.options[this.selectedIndex].value)" name="category">
                  <option value="1">Traditional</option>
                  <option value="2">Mochi</option>
                  <option value="others">Others</option>
                </select>
                <div id="product_category" name="category"></div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button><br>
            <button type="button" class="btn btn-primary" type="submit" name="add_request" value="add_request">Add
              Requests</button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Add Request</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form action="{% url 'editor_dashboard' %}" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          {{ form }}
          <div class="modal-body">
            <div class="form-row">
              <div class="form-group col-sm-10">
                <label class="form-label" for="customFile"><b>Product Image (only in JPG format)</b></label>
                <input type="file" class="form-control" id="customFile" accept=".jpg" name="image_upload"
                  placeholder="Select 1 image only" required />
              </div>
              <div class="form-group col-sm-10">
                <label class="form-label" for="customFile"><b>Product Image Name</b></label>
                <input type="text" class="form-control" id="customFile" name="imagename"
                  placeholder="Name-Of-Mooncake" required />
              </div>
            </div>
            <div class="form-group">
              <label><b>Product Name</b></label>
              <input class="form-control" type="text" name="productname" placeholder="Product Name" required>
            </div>
            <div class="form-group">
              <label for="descriptionText"><b>Product Description</b></label>
              <textarea class="form-control" id="descriptionText" rows="3" name="productdesc"
                placeholder="Product Description" required></textarea>
            </div>
            <div class="form-group">
              <label for="ingredientsText"><b>Ingredients</b></label>
              <textarea class="form-control" id="ingredientsText" rows="3" name="productdesc"
                placeholder="Product Description" required></textarea>
            </div>
            <div class="row">
              <div class="col">
                <label><b>Unit Price ($SGD)</b></label>
                <input type="number" class="form-control" name="unitprice" placeholder="Price" required>
              </div>
              <div class="col">
                <label><b>Stocks Available</b></label>
                <input type="number" class="form-control" name="stocks" placeholder="Stocks" required>
              </div>
              <div class="form-group col">
                <label for="inputState"><b>Product Category</b></label>
                <select id="inputState" class="form-control"
                  onchange="showfield(this.options[this.selectedIndex].value)" name="category">
                  {% for v in products %}
                  <option value={{v.product_id.category_id}}>{{v.product_id.name}}</option>

                  <option value="others">Others</option>
                </select>
                <div id="product_category" name="category"></div>
              </div>
              <button type="button" class="btn btn-primary" type="submit" name="product_req_add" value="add_request">Add Requests</button>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button><br>
            
          </div>
      </form>
    </div>
  </div>
</div>
</div>

<!-- <script>
  // modals
  $(document).ready(function () {
    $("#editModal").modal();
  });
</script> -->

<script>
  function showfield(name) {
    if (name == 'other') {
      document.getElementById('product_category').innerHTML = 'Other: <input type="text" name="category_input" id="product_category">';
    }
    else {
      document.getElementById('product_category').innerHTML = '';
    }
  }
</script>
{% endblock %}