{% extends "base.html" %}

{% block content %}
<div class="container">
<form method="post"> {{msg}}
    {% csrf_token %}
    {{form}}
    <table>
      <tr>
        <td><label>Email:</label></td>
        <td><input type="email" name="email" id= "email" placeholder="Enter Email"></td>
      </tr>
      <tr>
        <td><label>Password:</label></td>
        <td><input type="password" name="password" id="password" placeholder="Enter Password"></td>
      </tr>
      <tr>
        <td><a href="resetpassword">Reset password</a></td>
      </tr>
    </table>
    <input type="submit" value="Login">
  </form>
</div>
{% endblock %}