{% extends "base_nocart.html" %}

{% block content %}
<style>
      /* Full-width input fields */
        input[type=email],
        input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }

        input[type=email]:focus,
        input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }
          /* Overwrite default styles of hr */
        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }
              /* Set a style for the submit/register button */
        .resetbtn {
            background-color: #04AA6D;
            color: white;
            padding: 16px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }

        .resetbtn:hover {
            opacity: 1;
        }
    /* Add a blue text color to links */
        a {
            color: dodgerblue;
        }
</style>
<div class="container">
    <h1>Reset Password</h1>
    {% include 'messages.html' %}
    <hr>
<form method="post">
    {% csrf_token %}
    {{form}}
    <table width="100%">
      <tr>
        <td><label style="font-weight:bold">Email</label></td>
      </tr>
        <tr>
            <td><input type="email" name="email" id= "email" placeholder="Enter Email"></td>
        </tr>
    </table>
    <input type="submit" value="Reset" class="resetbtn">
  </form>
</div>
{% endblock %}